.chapters-title {
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -54%);
	position: absolute;
	pointer-events: none;
	text-align: center;

	img {
		display: inline-block;
		font-family: westeindeThin;
		font-size: 40px;
		font-weight: lighter;
		color: #981d14;
		transform: scale(.2);
		opacity: 0;
	}
}

.chapters-instructions {
	width: 450px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
	z-index: 2;
	transform: translate(-50%, -55%);

	img {
		opacity: 0;
	}
}
