@import './variables';

.introduction-wrapper {
	width: 100%;
	height: 100%;
	transition: transform .6s $quad-ease-in-out;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 999;

	&.is-hide {
    transform: translateY(-100%);
		pointer-events: none;
  }
}

.introduction-container {
	position: absolute;
	top: 0;
	left: 0;
	background: #141414;
	width: 100%;
	height: 100%;
	background-image: url('../assets/interface/global/noise.gif');
	background-repeat: repeat;
	background-blend-mode: darken;
	transition: transform .6s $quad-ease-in-out;

	.is-hide & {
		transform: translateY(100%);
		pointer-events: none;
	}

	.arrow {
		position: absolute;
		bottom: 150px;
		left: 50%;
		transform: translateX(-50%);
	}

	.forms-left {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 1000px;

		.form-black {
			position: absolute;
			display: none;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: url('../assets/interface/introduction/left-black.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: -200px;
			background-position-y: 50px;
		}

		.form-paper {
			position: absolute;
			height: auto;
			width: 500px;
		}
	}

	.form-right {
		position: absolute;
		right: -2px;
		bottom: 0;
		width: 70px;
	}

	.content {
		width: 40%;
		height: auto;
		margin: auto;
		position: relative;
		top: 50%;
		transform: translateY(-60%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		img.logo {
			height: 140px;
			position: relative;
		}

		.text {
			margin-top: 50px;
			width: 80%;
			min-height: 100px;
			text-align: center;
			font-size: 18px;
			color: #fff;
			padding: 10px 0;
			font-family: poppins;
		}
	}
}
